.row{
    margin: 10px 0px;
}
.card{
    margin: 10px 10px;
    width: 20rem;
}
.btn{
    margin:10px 5px;
}
nav{
    color: blue;
}
nav:hover{
    color: black;
}


.active{
    background-color: grey !important;
}
* {
    font-family: 'Quicksand', sans-serif;
}
.moduleList{
    border-right: 2px solid black;
    border-top: 2px solid black;
    height: 100vh;
}

html, body{
    height: 100%;
    overflow: auto;
}